/*
REDO WK 4 Small CSS 
*/
@import url('https://fonts.googleapis.com/css?family=Lato|Bitter|Ubuntu');


h1, h2, h3, a {
    font-family: 'Bitter', serif;
}

p {
    font-family: 'Lato', sans-serif;
}

body {
    background-color:#84cdf5;
    max-width: 100%;
    margin: 15px;
}

header {
    float: left;
    margin: 10px;
    background-color: white;
    border: 1px solid rgb(107, 138, 189);
    box-shadow: 0 0 30px #11657a;
    
    width: 100%;
}

.logo {
    width: 75px;
    height: 75px;
    float: left;
}

.pageTitle {
    font-size: 25px;
}

.motto {
    font-size: 10px;
    text-align: center;
}


#siteLogo, .logo, .pageTitle {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

h3 span {
    text-decoration: underline;
}
/* Caler Edwards YouTube example of responsive hamburger menu*/
.nav {
    font-family: "helvetica neue", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    height: 70px;
    line-height: 70px;
}

.menu {
    margin: 0 30px 0 0;
}

.menu, li, a {
    list-style: none;
    text-decoration: none;
    color: black;
    margin: 0;
    line-height: 70px;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
}

#toggle {
    display: none;
}
/* ABOVE - Caler Edwards YouTube Responsive Menu */

/*BELOW - WEATHER SUMMARY*/
tbody td:nth-child(odd) {
    background-color: #1fb986;
    color: white;
}

tbody td:nth-child(even) {
    background-color: #19cf47;
    color: yellow;
}

table {
    z-index: 3;
}
/*ABOVE - WEATHER SUMMARY*/

section {
    max-width: 100%;
    margin: 15px 0 15px 0;
}

article {
    margin-top: 15px;
}

footer {
    background-color: #274032;
    color: white;
    padding: 10px 0px 10px;
    text-align: center;
    max-width: 95%;
    margin-top: 15px;
 }

/*
SECTION IDs
*/
#siteLogo{
    float: left;
    margin: 10px 0;
}

#mainTitle {
    font-size: 3em;
   text-align: center;
}

#weatherSummary {
background-color: lightblue;
}

#heroImage {
    z-index: -1;
}
/*
CLASS SELECTORS
*/



.heroBox {
position: relative;
top: -185px;
left: 10px;
z-index: -2;
max-width: 90%;
}

.articleBox {
background-color: #35a7ff;
width: 90%;
padding: 20px;
text-align: center;
}

.articleImage {
align-content: center;
}

.contactInfo {
background-color: #093852;
align-content: center;
max-width: 95%;
}

/* BELOW - Caler Edwards Responsive Menu Media Query*/
@media only screen and (max-width: 700px) {
    label {
        display: block;
        cursor: pointer;
        width: 26px;
        float: right;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        clear: right;
        display: block;
        border-bottom: 1 px solid #093852;
        margin: 0;
    }

    #toggle:checked + .menu {
        display: block;
    }
}
/* ABOVE - Caler Edwards Responsive Menu Media Query*/

/* Now make 5 day forecast disapear off off small screens, it should only appear on large screen */
@media only screen and (max-width: 700px) {
    .forecast {
        display: none;
    }
}