/*
REDO WK 4 CSS FILE
*/
body {
    background-color:#84cdf5;
}

header {
    background-color: #35a7ff;
}

article {

}

map {

}

footer {

}

/*
SECTION IDs
*/
#siteLogo {

}

#mainTitle {

}

#weatherSummary {

}

/*
CLASS SELECTORS
*/
.motto {

}
.widgetBox {

}

.heroBox {

}

.articleBox {
background-color: #35a7ff;
}

.articleImage {

}

.contactInfo {

}


